@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2'),
    url('/fonts/Poppins-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'poppins', sans-serif;
}


body {
  @apply bg-zinc-900 h-full overflow-x-hidden
}

#__next {
  @apply h-full
}

html {
  @apply h-full
}